html, body, .glass {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-image: url('../img/envelope.jpeg');
	background-size: cover;
}

.glass {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.25);
	color: black;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.centered {
	width: 100%;
	text-align: center;
}

.centered-container {
	display: flex;
	justify-content: center;
}

.response-container {
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}

.guest-name {
	font-size: 18px;
	margin-left: 12px;
}

.song-title {
	font-size: 18px;
}

.attending-icon-container {
	width: 24px;
	height: 24px;
}

.circle-icon {
    color: white;
    padding: 6px;
    border-radius: 50%;
    font-size: 0.80em;
}

.attending {
    background-color: #00a651;
}

.not-attending {
    background-color: #CC0000;
}

.content {
	margin-top: 40px;
}

.num-guests-box: {
	width: 6px;
	height: 6px;
	display: flex;
}

.attending-number-container {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 24px;
	height: 24px;
}

.attending-number {
	display: flex;
	font-size: 14px;
}